# **Decission Tree Classifier**
# **Submitted by: Musharaf ahsan**

# Step-1: Import Libraries

In [1]:
import pandas as pd
df = pd.read_csv('mldata.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

### Converting Gender into Dummy Values

In [2]:
df['gender'] = df['gender'].replace('Male',1)
df['gender'] = df['gender'].replace('Female',0)
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

## Selection of Input and Output Variables

In [3]:
x = df[['weight', 'gender']]
y = df['likeness']

In [4]:
x.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [5]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

## Machine Learning Algorithem

In [6]:
from sklearn.tree import DecisionTreeClassifier

## Create and Fit Model

In [7]:
model = DecisionTreeClassifier().fit(x,y)

## Prediction

In [8]:
model.predict([[80,1]])

c:\Users\Dell\miniconda3\envs\pandas_env\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

## How to measure Accuracy of Model?
- Split Data into test and train (80/20) rule
- 80% training Data and 20% testing

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_trin, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

# Create a Model

In [10]:
model = DecisionTreeClassifier()

# Fiting a Model

In [11]:
model = model.fit(x_trin,y_train)

predicted_values = model.predict(x_test)
predicted_values

array(['Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

# Checking Score

In [12]:
score = accuracy_score(y_test,predicted_values)
score

0.5714285714285714

# How to train and save your Model

In [13]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(x, y)
joblib.dump(model, 'foodie.joblib')

['foodie.joblib']

# Graph

In [14]:
from sklearn import tree
model = DecisionTreeClassifier().fit(x, y)

# Graphic Evaluation/ look into what happend

In [15]:
tree.export_graphviz(model, out_file='foodie.dot',
                     feature_names=['age', 'gender'],
                     class_names=sorted(y.unique()),
                     label = 'all',
                     rounded=True,
                     filled=True)