# Python ka Chilla with Baba Ammar
# Basics of Python
## 01-  My 1st-Program

In [15]:
print("I'm going to start python ka chilla with Baba Ammar")
print("I'm a student of Cholistan University of veterinary and Animal Sciences Bahawalpur")

I'm going to start python ka chilla with Baba Ammar
I'm a student of Cholistan University of veterinary and Animal Sciences Bahawalpur

## 02- Operators

In [16]:
print(90+88)            #Addition
print(89-43)            #Substraction
print(8*78)             #Multiplication
print(90/2)             #Division
print(64//4)            #Double Division
print(2**3)             #Power
print(9%2)              #Reminder
print(68//4*9+8-10)     #Equation

178
46
624
45.0
16
8
1
151

***PEMDAS
Parenthesis, Exponents, multiply, Divide, Addition & Substraction***

***Left to right sequence for M D & A S***

## 03- Strings

*we can write string in single qoutes(' '), in double qoiutes(" ") and In tripple qoutes('''  ''')*

In [17]:
print('Single Qoutes')
print("Double Qoutes")
print('''Triple Qoutes''')

Single Qoutes
Double Qoutes
Triple Qoutes

*now what is the difference*

In [18]:
print("What's up")

What's up

*agr hm ise single qoutes me likhainb gy to ye consider nhi kre ga*

## 04- Comments
The shortcut keys to comments is **(Ctrl+/)**

In [19]:
print("How are you?")    #press these to comment out (Ctrl+/) or use (#) before statement.

How are you?

## 05- Variables
*variables: objects containing specific values.*

In [20]:
x=10    #Numeric or Integer Variable
print(x)

y="Aj mera chotha Roza hai"    #string variable
print(y)
x=40   #Here the valuae of x is updating by 40.It works same for 'y'..Only happen in Python not in C/C++
print(x)
x=x+10      #Another way to update value of x....
print(x)
z='?'
print(z)

10
Aj mera chotha Roza hai
40
50
?

##### Types/Class of Variables.
##### A Function to Check Types of Variables.

In [21]:
type(x)
print(type(x))
type(y)
print(type(y))
type(z)
print(type(z))

<class 'int'>
<class 'str'>
<class 'str'>

### Rules to Assign a Variable
***1. The variable should contain lettes, numbers or underscore..***

***2. Do not start with numbers.***

***3. Spaces are not allowed.***

***4. Do not use keywords used in function like (break, mean ,media, test etc..)***

***5. Short and discriptive***

***6. case senstivity (lower case and upercase letter shoul be used)***

In [22]:
fruit_basket="mangoes"
print(fruit_basket)
print(type(fruit_basket))

mangoes
<class 'str'>

## 06- Input Variables
### Simple Input Function

In [23]:
fruit_basket=input("what is your favourite fruit?  ")
print(fruit_basket)

what is your favourite fruit?  Grapes
Grapes

### Input Function of 2nd Stage

In [24]:
name=input("what is your name? ")
greeting="Hello!"
print(greeting,name)

what is your name? Musharf
Hello! Musharf

### Input Function of 3rd Stage

In [25]:
name=input("what is your name? ")
name=str(name)      #In this line we are changing the data type of variable 
print(type(name))
age=input("what is your age? ")
greeting="Hello!"
print (greeting, name, "You are still young!")

what is your name? Ahsan
<class 'str'>
what is your age? 20
Hello! Ahsan You are still young!

## 07- Conditional Logics
**Logical Operators are "TRUE/FALSE", "YES/NO" or "0/1"**

***1. equal to                        ==***

***2. not equal to                    !=***

***3. less than                       <***

***4. greater than                    >***

***5. less than and equal to          <=***

***6. greater than equal to           >=***

## *is 4 equal to 4?*

In [26]:
print(4==4)
print(4!=9)
print(4>3)
print(3<6)
print(3<=5)
print(5>=4)

True
True
True
True
True
True

## Application of Logical Operators

In [27]:
ali_age=4
age_at_school=5
print(ali_age==age_at_school)

False

### Input Function and Logical Operator

In [28]:
age_at_school=5
student_age=input("How old is student? ")   #INPUT FUNCTION
student_age=int(student_age)                #CONVERTING string INTO int DATA TYPE
print (type(student_age))
print(student_age>=age_at_school)           #LOGICAL OPERTAOR

How old is student? 9
<class 'int'>
True

## 08- Type Conversion

In [29]:
x=10        #intiger
y=10.5      #float
z="Hello"   #string

### Imlicit Type Conversion

In [30]:
x=10
y=10.5
x=x+y
print(x,"Data type of x is ",type(x))

20.5 Data type of x is  <class 'float'>

### Explicit Type Conversion

In [31]:
age=input("What is your age? ")
# age=int(age)                      #1st method to convert data type 
print(age,type(int(age)))           #2nd method to convert data type
name=input("what is your name? ")
print(name,type(name))

What is your age? 20
20 <class 'int'>
what is your name? Musharaf
Musharaf <class 'str'>

## 09- if,else & elif

In [32]:
student_age=input("How old is student? ")
student_age=int(student_age)
required_age_at_school=5
if student_age==required_age_at_school:
    print("Congrats sudent can join tha school.")
elif student_age > required_age_at_school:
    print("student should join Higher secondary school.")
elif student_age <= 2:
    print("you shoul take care of student he/she is a still baby")
else:
    print("student can't join the school.")

How old is student? 5
Congrats sudent can join tha school.

## 10- Functions
print("We are learning python")

print("We are learning python")

print("We are learning python")

print("We are learning python")

print("We are learning python")

### Defining a Function by diffrent ways
### => 1

In [40]:
def print_code():
    print("We are learning python")
    print("We are learning python")
    print("We are learning python")
print_code()

We are learning python
We are learning python
We are learning python

### => 2

In [41]:
def print_code():
    text="We are learning python with baba ammar on youtube "
    print(text)
    print(text)
    print(text)
print_code()

We are learning python with baba ammar on youtube
We are learning python with baba ammar on youtube
We are learning python with baba ammar on youtube

### => 3

In [42]:
def print_code(text):
   
    print(text)
    print(text)
    print(text)
print_code("we are learning python with baba ammar")

we are learning python with baba ammar
we are learning python with baba ammar
we are learning python with baba ammar

#### *Defining Function with if, elif and else statement*
### => 4

In [43]:
def school_calculator(age):
    if age==5:
        print("Student can join the school")
    elif age>5:
        print("student shoul go higher secondary school")
    else:
        print("student is still a baby")
school_calculator(5)

Student can join the school

### => 5

In [44]:
def school_calculator(age=input("whta is the age of student? ")):    #Input from User
    age=int(age)
    if age==5:
        print("Student can join the school")
    elif age>5:
        print("student shoul go higher secondary school")
    else:
        print("student is still a baby")
school_calculator()

whta is the age of student? 10
student shoul go higher secondary school

### Defining a Function of Future

In [45]:
def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)
futurre_prediction_age= future_age(18)
print(futurre_prediction_age)

38

## 11- Loops
### While Loop

In [46]:
x=0
while (x<=10):
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10

### For Loop

In [47]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

### Array

In [48]:
days=["mon","tue","wed","thu","fri","sat","sun"]
for d in days:
    # if (d=="fri"):
    #     break         #loop stops
    if (d=="fri"):
        continue        #skips d
    print(d)

mon
tue
wed
thu
sat
sun

## 12- Import Libraries
***if you want to print the value of pi***

In [58]:
import math
print("The value of PI is ",math.pi)

The value of PI is  3.141592653589793

***We can also calculate Mode,Mean and many other values  using "statistics" library***

In [59]:
import statistics
x=[456,345,353,353,345,889]
print("Mode of x is ",statistics.mode(x))

Mode of x is  345

***other important libraries are***

*numpy, pandas etc*

## 13- Trouble