In [2]:
import pandas as pd
import numpy as np

In [3]:
s=pd.Series([1,2,3,np.nan,4,5])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [4]:
dates=pd.date_range("20220719",periods=5)
dates

DatetimeIndex(['2022-07-19', '2022-07-20', '2022-07-21', '2022-07-22',
               '2022-07-23'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(5,4),index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-07-19 -1.252699 -1.327766  1.456603 -0.398064
2022-07-20  0.088898  0.584527 -2.313301  0.168674
2022-07-21 -0.653696 -0.797819  0.095580  1.510146
2022-07-22  0.533342 -1.337875  0.011120  1.206803
2022-07-23  0.131390 -0.615857  0.122526  0.180004

In [6]:
from numpy import float32, int32
from pandas import Categorical, Timestamp


df2 = pd.DataFrame(
    {
        "A":1.0,
        "B":Timestamp("20220720"),
        "C":pd.Series(1,index=list(range(4)), dtype="float32"),
        "D":np.array([3]*4,dtype="int32"),
        "E":pd.Categorical(["girl", "women","girl", "women"]),
        "F":"females"
    }
)
df2

     A          B    C  D      E        F
0  1.0 2022-07-20  1.0  3   girl  females
1  1.0 2022-07-20  1.0  3  women  females
2  1.0 2022-07-20  1.0  3   girl  females
3  1.0 2022-07-20  1.0  3  women  females

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df.head(2)

                   A         B         C         D
2022-07-19 -1.252699 -1.327766  1.456603 -0.398064
2022-07-20  0.088898  0.584527 -2.313301  0.168674

In [9]:
df.tail(2)

                   A         B         C         D
2022-07-22  0.533342 -1.337875  0.011120  1.206803
2022-07-23  0.131390 -0.615857  0.122526  0.180004

In [10]:
df.index

DatetimeIndex(['2022-07-19', '2022-07-20', '2022-07-21', '2022-07-22',
               '2022-07-23'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.to_numpy()

array([[-1.25269919, -1.32776562,  1.4566028 , -0.39806426],
       [ 0.08889835,  0.58452678, -2.31330087,  0.16867386],
       [-0.65369612, -0.7978189 ,  0.09558044,  1.51014564],
       [ 0.53334151, -1.33787526,  0.01111954,  1.20680309],
       [ 0.13139027, -0.61585663,  0.12252557,  0.18000371]])

In [12]:
df.describe()

              A         B         C         D
count  5.000000  5.000000  5.000000  5.000000
mean  -0.230553 -0.698958 -0.125495  0.533512
std    0.714216  0.785434  1.361854  0.795777
min   -1.252699 -1.337875 -2.313301 -0.398064
25%   -0.653696 -1.327766  0.011120  0.168674
50%    0.088898 -0.797819  0.095580  0.180004
75%    0.131390 -0.615857  0.122526  1.206803
max    0.533342  0.584527  1.456603  1.510146

In [13]:
df.T

   2022-07-19  2022-07-20  2022-07-21  2022-07-22  2022-07-23
A   -1.252699    0.088898   -0.653696    0.533342    0.131390
B   -1.327766    0.584527   -0.797819   -1.337875   -0.615857
C    1.456603   -2.313301    0.095580    0.011120    0.122526
D   -0.398064    0.168674    1.510146    1.206803    0.180004

In [14]:
df.sort_index(axis=0, ascending=True)
# df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2022-07-19 -1.252699 -1.327766  1.456603 -0.398064
2022-07-20  0.088898  0.584527 -2.313301  0.168674
2022-07-21 -0.653696 -0.797819  0.095580  1.510146
2022-07-22  0.533342 -1.337875  0.011120  1.206803
2022-07-23  0.131390 -0.615857  0.122526  0.180004

In [15]:
df.sort_values(by="B", ascending=True)

                   A         B         C         D
2022-07-22  0.533342 -1.337875  0.011120  1.206803
2022-07-19 -1.252699 -1.327766  1.456603 -0.398064
2022-07-21 -0.653696 -0.797819  0.095580  1.510146
2022-07-23  0.131390 -0.615857  0.122526  0.180004
2022-07-20  0.088898  0.584527 -2.313301  0.168674

In [16]:
df["A"]

2022-07-19   -1.252699
2022-07-20    0.088898
2022-07-21   -0.653696
2022-07-22    0.533342
2022-07-23    0.131390
Freq: D, Name: A, dtype: float64

In [17]:
df["B"]

2022-07-19   -1.327766
2022-07-20    0.584527
2022-07-21   -0.797819
2022-07-22   -1.337875
2022-07-23   -0.615857
Freq: D, Name: B, dtype: float64

In [18]:
# Row wise slection
df[0:2]

                   A         B         C         D
2022-07-19 -1.252699 -1.327766  1.456603 -0.398064
2022-07-20  0.088898  0.584527 -2.313301  0.168674

In [19]:
# Row wise slection 
# Also Date wise slection ...showing data of each colum of date at 0 index
df.loc[dates[0]]

A   -1.252699
B   -1.327766
C    1.456603
D   -0.398064
Name: 2022-07-19 00:00:00, dtype: float64

In [20]:
#Column wise slection of data
df.loc[:,["A","C"]]

                   A         C
2022-07-19 -1.252699  1.456603
2022-07-20  0.088898 -2.313301
2022-07-21 -0.653696  0.095580
2022-07-22  0.533342  0.011120
2022-07-23  0.131390  0.122526

In [21]:
#Column wise slection of data
# 2022-07-19 se ly 2022-07-22 tk ka data aye ga
df.loc["20220719":"20220722",["A","C"]]

                   A         C
2022-07-19 -1.252699  1.456603
2022-07-20  0.088898 -2.313301
2022-07-21 -0.653696  0.095580
2022-07-22  0.533342  0.011120

In [22]:
#Column wise slection of data
# only 2022-07-19 or 2022-07-22 ka data aye ga
df.loc[["20220719","20220722"],["A","C","B"]] #here order is also change and we can..

                   A         C         B
2022-07-19 -1.252699  1.456603 -1.327766
2022-07-22  0.533342  0.011120 -1.337875

In [23]:
df.loc["20220719",["A","C","B"]]

A   -1.252699
C    1.456603
B   -1.327766
Name: 2022-07-19 00:00:00, dtype: float64

In [24]:
df.loc[["20220719"],["A","C","B"]]

                   A         C         B
2022-07-19 -1.252699  1.456603 -1.327766

In [25]:
df.at[dates[4],"A"]

0.13139026591018935

In [26]:
df.iloc[3]

A    0.533342
B   -1.337875
C    0.011120
D    1.206803
Name: 2022-07-22 00:00:00, dtype: float64

In [27]:
df.iloc[2:4]

                   A         B        C         D
2022-07-21 -0.653696 -0.797819  0.09558  1.510146
2022-07-22  0.533342 -1.337875  0.01112  1.206803

In [28]:
df.iloc[0:3,0:4]

                   A         B         C         D
2022-07-19 -1.252699 -1.327766  1.456603 -0.398064
2022-07-20  0.088898  0.584527 -2.313301  0.168674
2022-07-21 -0.653696 -0.797819  0.095580  1.510146

In [29]:
df.iloc[0:3,:]

                   A         B         C         D
2022-07-19 -1.252699 -1.327766  1.456603 -0.398064
2022-07-20  0.088898  0.584527 -2.313301  0.168674
2022-07-21 -0.653696 -0.797819  0.095580  1.510146

In [30]:
df.iloc[:,0:2]

                   A         B
2022-07-19 -1.252699 -1.327766
2022-07-20  0.088898  0.584527
2022-07-21 -0.653696 -0.797819
2022-07-22  0.533342 -1.337875
2022-07-23  0.131390 -0.615857

In [31]:
df[df["A"]>0]

                   A         B         C         D
2022-07-20  0.088898  0.584527 -2.313301  0.168674
2022-07-22  0.533342 -1.337875  0.011120  1.206803
2022-07-23  0.131390 -0.615857  0.122526  0.180004

In [32]:
df[df["B"]>0]

                   A         B         C         D
2022-07-20  0.088898  0.584527 -2.313301  0.168674

In [33]:
df[df>0]

                   A         B         C         D
2022-07-19       NaN       NaN  1.456603       NaN
2022-07-20  0.088898  0.584527       NaN  0.168674
2022-07-21       NaN       NaN  0.095580  1.510146
2022-07-22  0.533342       NaN  0.011120  1.206803
2022-07-23  0.131390       NaN  0.122526  0.180004

### Add new column in data

In [34]:
df3=df.copy()
df3["babaG"]=["one","three","four","two","five"]
df3

                   A         B         C         D  babaG
2022-07-19 -1.252699 -1.327766  1.456603 -0.398064    one
2022-07-20  0.088898  0.584527 -2.313301  0.168674  three
2022-07-21 -0.653696 -0.797819  0.095580  1.510146   four
2022-07-22  0.533342 -1.337875  0.011120  1.206803    two
2022-07-23  0.131390 -0.615857  0.122526  0.180004   five

In [35]:
df3["new"]=[1.2,2.2,2.3,2.4,2.5]
df3

                   A         B         C         D  babaG  new
2022-07-19 -1.252699 -1.327766  1.456603 -0.398064    one  1.2
2022-07-20  0.088898  0.584527 -2.313301  0.168674  three  2.2
2022-07-21 -0.653696 -0.797819  0.095580  1.510146   four  2.3
2022-07-22  0.533342 -1.337875  0.011120  1.206803    two  2.4
2022-07-23  0.131390 -0.615857  0.122526  0.180004   five  2.5

In [36]:
df3["Mean"]= df3.mean(axis=1)
df3

C:\Users\Musharaf Ahsan\AppData\Local\Temp\ipykernel_3636\298110608.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df3["Mean"]= df3.mean(axis=1)

                   A         B         C         D  babaG  new      Mean
2022-07-19 -1.252699 -1.327766  1.456603 -0.398064    one  1.2 -0.064385
2022-07-20  0.088898  0.584527 -2.313301  0.168674  three  2.2  0.145760
2022-07-21 -0.653696 -0.797819  0.095580  1.510146   four  2.3  0.490842
2022-07-22  0.533342 -1.337875  0.011120  1.206803    two  2.4  0.562678
2022-07-23  0.131390 -0.615857  0.122526  0.180004   five  2.5  0.463613

## Delte Column

In [40]:
df3 = df3.iloc[:, 0:2]
df3

                   A         B
2022-07-19 -1.252699 -1.327766
2022-07-20  0.088898  0.584527
2022-07-21 -0.653696 -0.797819
2022-07-22  0.533342 -1.337875
2022-07-23  0.131390 -0.615857